@page
@model EDIS.WebApp.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].ItemType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].UnitsOnHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory[0].ReorderPoint)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Inventory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsOnHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReorderPoint)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StockNumber">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StockNumber">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StockNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
