@page
@model EDIS.WebApp.Pages.Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.RefillsRemaining)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.RefillsRemaining)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.LastRefillDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.LastRefillDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.StockNumberNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.StockNumberNavigation.StockNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescription.RxNumber">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
